image: webkitdev/buildbot:{{#if build.tag}}{{trimPrefix "v" build.tag}}{{else}}latest{{/if}}
{{#if build.tags}}
tags:
{{#each build.tags}}
  - {{this}}
{{/each}}
{{/if}}
manifests:
  -
    image: webkitdev/buildbot:{{#if build.tag}}{{trimPrefix "v" build.tag}}-{{/if}}1809
    platform:
      architecture: amd64
      os: windows
      version: 1809
  -
    image: webkitdev/buildbot:{{#if build.tag}}{{trimPrefix "v" build.tag}}-{{/if}}1903
    platform:
      architecture: amd64
      os: windows
      version: 1903
  -
    image: webkitdev/buildbot:{{#if build.tag}}{{trimPrefix "v" build.tag}}-{{/if}}1909
    platform:
      architecture: amd64
      os: windows
      version: 1909
  -
    image: webkitdev/buildbot:{{#if build.tag}}{{trimPrefix "v" build.tag}}-{{/if}}2004
    platform:
      architecture: amd64
      os: windows
      version: 2004
  -
    image: webkitdev/buildbot:{{#if build.tag}}{{trimPrefix "v" build.tag}}-{{/if}}20H2
    platform:
      architecture: amd64
      os: windows
      version: 20H2
